librosa==0.7.0
numpy==1.17.3
opencv-contrib-python>=4.2.0.34
# opencv-python==4.1.0.25
opencv-python==4.5.5.64
# torch==1.8.1
# torchvision==0.3.0
tqdm==4.45.0
numba==0.48
-f https://download.pytorch.org/whl/torch_stable.html
    torch==1.9.1+cu111 
    torchvision==0.10.1+cu111 
    torchaudio==0.9.1 
